html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body,div{font-size:0;}
p, span,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;-ms-word-wrap:break-word;pointer-events:auto;}
sup{font-size:inherit;vertical-align:baseline;position:relative;top:-0.4em;}
sub{font-size:inherit;vertical-align:baseline;position:relative;top:0.4em;}
ul{display:block;word-spacing:normal;word-wrap:break-word;list-style-type:none;margin:0;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li{display:block;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea{resize:none;}
.shm-l{float:left;clear:left;}
.shm-r{float:right;clear:right;}
.whitespacefix{word-spacing:-1px;}
video:not(#video_background):not(.videoinline){width:100%;max-width:900px;}
video:-webkit-full-screen{max-width:100% !important;}
video:-moz-full-screen{max-width:100% !important;}
video:-ms-fullscreen{max-width:100% !important;}
video:fullscreen{max-width:100% !important;}
.player1.fullscreen1-active video{max-width:100% !important;}
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -ms-touch-action: none; -webkit-tap-highlight-color: transparent; }
.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }
.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate(0, 0); -moz-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0); }
.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }
.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; visibility: visible !important; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }
@font-face { font-family: "slick"; src: url("slick.eot"); src: url("slick.eot?#iefix") format("embedded-opentype"), url("slick.woff") format("woff"), url("slick.ttf") format("truetype"), url("slick.svg#slick") format("svg"); font-weight: normal; font-style: normal; }
.slick-prev:before { content: "\2190"; }
.slick-next:before { content: "\2192"; }
.slick-prev, .slick-next { position: absolute; display: block; line-height: 0; font-size: 0; cursor: pointer; background: transparent; color: transparent; top: 50%; padding: 0; border: none; outline: none; }
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { outline: none; background: transparent; color: transparent; }
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }
.slick-prev:before, .slick-next:before { font-family: "slick"; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots { position: absolute; list-style: none; display: block; text-align: center; padding: 0; width: 100%; }
.slick-dots li { position: relative; display: inline-block; padding: 0; cursor: pointer; }
.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
.slick-dots li button { border: 0; background: transparent; display: block; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "\2022"; font-family: "slick"; text-align: center; color: black; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
[dir="rtl"] .slick-slide {float: right;}
[dir="rtl"] .slick-next:before {content: "\2190";}
[dir="rtl"] .slick-prev:before {content: "\2192";}

#body{background-color:rgb(255,255,255);}
.vis{display:inline-block;vertical-align:top;}
.pos{position:relative;margin-top:0;}
.size{width:100%;min-width:960px;min-height:1051px;}
.cont{z-index:2;pointer-events:none;border:0;overflow:hidden;}
.fixed{background-attachment:fixed;background-image:url(../images/img_4373-320.jpeg);background-color:transparent;background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-clip:padding-box;box-shadow:0 5px 13px rgb(128,128,128);}
.pos-2{position:relative;margin-top:14px;}
.vis-2{display:block;vertical-align:top;}
.section{min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.pos-3{position:relative;margin-left:109px;margin-top:0;}
.size-2{min-width:740px;width:740px;min-height:44px;}
.cont-2{z-index:4;border:0;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;background-color:rgb(255,255,255);box-shadow:0 1px 2px rgb(64,64,64);}
.pos-4{position:relative;margin-left:27px;margin-top:12px;}
.size-3{min-width:80px;width:80px;min-height:21px;}
.cont-3{z-index:19;pointer-events:auto;}
.button{border:0;background-color:transparent;}
.button:hover{background-color:rgb(130,147,158);border-color:rgb(0,0,0);color:rgb(0,0,0);}
.button:active{background-color:rgb(82,100,111);border-color:rgb(0,0,0);color:rgb(255,255,255);}
.vis-3{display:inline-block;overflow:hidden;outline:0;}
.size-4{width:80px;height:20px;}
.font{font-family:"Istok Web";font-size:14px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(128,0,0);line-height:initial;letter-spacing:normal;text-shadow:none;text-indent:0;text-align:center;padding-top:0;padding-bottom:1px;margin-top:0;margin-bottom:0;}
.pos-6{position:relative;margin-left:-3px;margin-top:128px;}
.size-5{min-width:966px;width:966px;min-height:721px;}
.pos-7{position:relative;margin-left:0;margin-top:235px;}
.size-6{min-width:486px;width:486px;min-height:486px;height:486px;}
.cont-5{z-index:13;pointer-events:auto;}
.img{position:absolute;left:0;width:480px;height:480px;top:0;border:3px solid rgb(255,255,255);}
.img-2{left:0;width:480px;height:480px;top:0;display:inline-block;}
.pos-8{position:relative;margin-left:32px;margin-top:-721px;}
.size-7{min-width:897px;width:897px;min-height:481px;}
.colwrapper{line-height:0;}
.pos-9{position:relative;margin-left:0;margin-top:0;}
.size-8{min-width:897px;width:897px;min-height:388px;}
.cont-6{z-index:3;pointer-events:auto;}
.para{padding-top:0;text-indent:0;padding-right:0;text-align:center;}
.font-2{font-family:Montserrat;font-size:55px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:67px;letter-spacing:normal;text-shadow:none;}
.pos-10{position:relative;margin-left:61px;margin-top:-292px;}
.size-9{min-width:780px;width:780px;min-height:385px;}
.size-10{min-width:780px;width:780px;min-height:175px;}
.cont-7{z-index:12;pointer-events:auto;}
.font-3{font-family:Lato;font-size:25px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:33px;letter-spacing:normal;text-shadow:none;}
.pos-11{position:relative;margin-left:387px;margin-top:-36px;}
.size-11{min-width:246px;width:246px;min-height:246px;height:246px;}
.cont-8{z-index:22;pointer-events:auto;}
.img-3{position:absolute;left:0;width:240px;height:240px;top:0;border:3px solid rgb(255,255,255);}
.img-4{left:0;width:240px;height:240px;top:0;display:inline-block;}
.pos-12{position:relative;margin-left:480px;margin-top:-486px;}
.size-12{min-width:486px;width:486px;min-height:486px;}
.pos-13{position:relative;margin-left:240px;margin-top:0;}
.size-13{min-width:246px;width:246px;min-height:246px;height:246px;}
.cont-9{z-index:20;pointer-events:auto;}
.img-5{position:absolute;left:0;width:240px;height:240px;top:0;border:3px solid rgb(255,255,255);}
.img-6{left:0;width:240px;height:240px;top:0;display:inline-block;}
.pos-14{position:relative;margin-left:0;margin-top:-6px;}
.size-14{min-width:486px;width:486px;min-height:246px;height:246px;}
.cont-10{z-index:16;pointer-events:auto;}
.img-7{position:absolute;left:0;width:480px;height:240px;top:0;border:3px solid rgb(255,255,255);}
.img-8{left:0;width:480px;height:240px;top:0;display:inline-block;}
.pos-15{position:relative;margin-top:-150px;}
.section-2{pointer-events:none;min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.pos-16{position:relative;margin-left:-3px;margin-top:0;}
.size-15{min-width:966px;width:966px;min-height:486px;}
.size-16{min-width:486px;width:486px;min-height:486px;}
.pos-17{position:relative;margin-left:0;margin-top:0;}
.size-17{min-width:486px;width:486px;min-height:246px;height:246px;}
.cont-11{z-index:21;pointer-events:auto;}
.img-9{position:absolute;left:0;width:480px;height:240px;top:0;border:3px solid rgb(255,255,255);}
.img-10{left:0;width:480px;height:240px;top:0;display:inline-block;}
.size-18{min-width:483px;width:483px;min-height:246px;}
.pos-18{position:relative;margin-left:0;margin-top:0;}
.size-19{min-width:246px;width:246px;min-height:246px;height:246px;}
.cont-12{z-index:24;pointer-events:auto;}
.img-11{position:absolute;left:0;width:240px;height:240px;top:0;border:3px solid rgb(255,255,255);}
.img-12{left:0;width:240px;height:240px;top:0;display:inline-block;}
.pos-19{position:relative;margin-left:240px;margin-top:-246px;}
.size-20{min-width:243px;width:243px;min-height:246px;height:246px;}
.cont-13{z-index:1;pointer-events:auto;}
.img-13{position:absolute;left:0;width:237px;height:238px;top:1px;border:3px solid rgb(255,255,255);}
.img-14{left:0;width:237px;height:238px;top:1px;display:inline-block;}
.pos-20{position:relative;margin-left:480px;margin-top:-486px;}
.size-21{min-width:486px;width:486px;min-height:486px;height:486px;}
.cont-14{z-index:23;pointer-events:auto;}
.img-15{position:absolute;left:0;width:480px;height:480px;top:0;border:3px solid rgb(255,255,255);}
.img-16{left:0;width:480px;height:480px;top:0;display:inline-block;}
.pos-21{position:relative;margin-top:60px;}
.size-22{width:100%;min-width:960px;min-height:688px;}
.cont-15{z-index:5;pointer-events:none;border:0;background-color:rgb(128,0,0);}
.pos-22{position:relative;margin-top:53px;}
.pos-23{position:relative;margin-left:-3px;margin-top:0;}
.size-23{min-width:935px;width:935px;min-height:582px;}
.pos-24{position:relative;margin-left:0;margin-top:27px;}
.size-24{min-width:480px;width:480px;min-height:432px;}
.pos-25{position:relative;margin-left:3px;margin-top:0;}
.size-25{min-width:400px;width:400px;min-height:59px;}
.cont-16{z-index:6;pointer-events:auto;}
.para-2{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.font-4{font-family:Montserrat;font-size:46px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(203,75,22);background-color:initial;line-height:57px;letter-spacing:1.60px;text-shadow:none;}
.pos-26{position:relative;margin-left:3px;margin-top:0;}
.size-26{min-width:100px;width:100px;min-height:5px;height:5px;}
.cont-17{z-index:14;border:0;background-color:rgba(255,255,255,0.5);}
.pos-27{position:relative;margin-left:3px;margin-top:9px;}
.size-27{min-width:400px;width:400px;min-height:102px;}
.cont-18{z-index:10;pointer-events:auto;}
.font-5{font-family:Lato;font-size:36px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:44px;letter-spacing:normal;text-shadow:none;}
.font-6{font-family:Lato;font-size:17px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:21px;letter-spacing:normal;text-shadow:none;}
.pos-28{position:relative;margin-left:3px;margin-top:0;}
.size-28{min-width:477px;width:477px;min-height:143px;}
.cont-19{z-index:7;pointer-events:auto;}
.font-7{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);background-color:initial;line-height:20px;letter-spacing:normal;text-shadow:none;}
.pos-29{position:relative;margin-left:0;margin-top:-40px;}
.size-29{min-width:166px;width:166px;min-height:55px;}
.cont-20{z-index:8;pointer-events:auto;}
.button-2{border:3px solid rgb(255,255,255);background-color:transparent;}
.button-2:hover{background-color:rgb(255,255,255);border-color:rgb(255,255,255);color:rgb(128,0,0);}
.button-2:active{background-color:rgb(255,255,255);border-color:rgb(255,255,255);color:rgb(128,0,0);}
.size-30{width:160px;height:24px;}
.font-8{font-family:Lato;font-size:20px;font-weight:300;font-style:normal;text-decoration:none;text-transform:none;color:rgb(255,255,255);line-height:initial;letter-spacing:normal;text-shadow:none;text-indent:0;text-align:center;padding-top:12px;padding-bottom:13px;margin-top:0;margin-bottom:0;}
.pos-30{position:relative;margin-left:-159px;margin-top:49px;}
.size-31{min-width:313px;width:313px;min-height:60px;}
.cont-21{z-index:9;pointer-events:auto;}
.font-9{font-family:Lato;font-size:43px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(203,75,22);background-color:initial;line-height:62px;letter-spacing:normal;text-shadow:none;}
.pos-31{position:relative;margin-left:-317px;margin-top:109px;}
.cont-22{z-index:15;border:0;background-color:rgba(255,255,255,0.5);}
.pos-32{position:relative;margin-left:31px;margin-top:0;}
.size-32{min-width:424px;width:424px;min-height:582px;}
.cont-23{z-index:25;pointer-events:auto;}
.size-33{display:inline-block;height:582px;width:100%;}
.anchor{display:block;}
.mfp-bg,.mfp-wrap{position:fixed;left:0;top:0}.mfp-bg,.mfp-container,.mfp-wrap{height:100%;width:100%}.mfp-container:before,.mfp-figure:after{content:''}.mfp-bg{z-index:10042;overflow:hidden}.mfp-wrap{z-index:10043;outline:0!important;-webkit-backface-visibility:hidden}.mfp-container{text-align:center;position:absolute;left:0;top:0;padding:0 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-container:before{display:inline-block;height:100%;vertical-align:middle}.mfp-align-top .mfp-container:before{display:none}.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:10045}.mfp-close,.mfp-preloader{text-align:center;position:absolute}.mfp-ajax-holder .mfp-content,.mfp-inline-holder .mfp-content{width:100%;cursor:auto}.mfp-ajax-cur{cursor:progress}.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out}.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}.mfp-auto-cursor .mfp-content{cursor:auto}.mfp-arrow,.mfp-close,.mfp-counter,.mfp-preloader{-webkit-user-select:none;-moz-user-select:none;user-select:none}.mfp-loading.mfp-figure{display:none}.mfp-hide{display:none!important}.mfp-preloader{color:#CCC;top:50%;width:auto;margin-top:-.8em;left:8px;right:8px;z-index:10044}.mfp-preloader a{color:#CCC}.mfp-close,.mfp-preloader a:hover{color:#FFF}.mfp-s-error .mfp-content,.mfp-s-ready .mfp-preloader{display:none}button.mfp-arrow,button.mfp-close{overflow:visible;cursor:pointer;background:0 0;border:0;-webkit-appearance:none;display:block;outline:0;padding:0;z-index:10046;-webkit-box-shadow:none;box-shadow:none;touch-action:manipulation}button::-moz-focus-inner{padding:0;border:0}.mfp-close{width:44px;height:44px;line-height:44px;right:0;top:0;text-decoration:none;opacity:.65;filter:alpha(opacity=65);padding:0 0 18px 10px;font-style:normal;font-size:28px;font-family:Arial,Baskerville,monospace}.mfp-close:focus,.mfp-close:hover{opacity:1;filter:alpha(opacity=100)}.mfp-close:active{top:1px}.mfp-close-btn-in .mfp-close{color:#333}.mfp-iframe-holder .mfp-close,.mfp-image-holder .mfp-close{color:#FFF;right:-6px;text-align:right;padding-right:6px;width:100%}.mfp-counter{position:absolute;top:0;right:0;color:#CCC;font-size:12px;line-height:18px;white-space:nowrap}.mfp-figure,img.mfp-img{line-height:0}.mfp-arrow{position:absolute;opacity:.65;filter:alpha(opacity=65);margin:-55px 0 0;top:50%;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:transparent}.mfp-arrow:active{margin-top:-54px}.mfp-arrow:focus,.mfp-arrow:hover{opacity:1;filter:alpha(opacity=100)}.mfp-arrow .mfp-a,.mfp-arrow .mfp-b,.mfp-arrow:after,.mfp-arrow:before{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:inset transparent}.mfp-arrow .mfp-a,.mfp-arrow:after{border-top-width:13px;border-bottom-width:13px;top:8px}.mfp-arrow .mfp-b,.mfp-arrow:before{border-top-width:21px;border-bottom-width:21px;opacity:.7}.mfp-arrow-left{left:0}.mfp-arrow-left .mfp-a,.mfp-arrow-left:after{border-right:17px solid #FFF;margin-left:31px}.mfp-arrow-left .mfp-b,.mfp-arrow-left:before{margin-left:25px;border-right:27px solid #3F3F3F}.mfp-arrow-right{right:0}.mfp-arrow-right .mfp-a,.mfp-arrow-right:after{border-left:17px solid #FFF;margin-left:39px}.mfp-arrow-right .mfp-b,.mfp-arrow-right:before{border-left:27px solid #3F3F3F}.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}.mfp-iframe-holder .mfp-close{top:-40px}.mfp-iframe-scaler iframe,.mfp-player-scaler .player,.mfp-player-scaler .player1{display:block;top:0;width:100%;background:#000;box-shadow:0 0 8px rgba(0,0,0,.6);position:absolute;left:0}.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}.mfp-iframe-scaler iframe{height:100%}.mfp-player-scaler{width:100%;max-width:900px;height:0;overflow:hidden;padding-top:56.25%}.mfp-player-scaler .player,.mfp-player-scaler .player1{right:0;bottom:0}.mfp-plyr .mfp-container{padding-top:40px;padding-bottom:40px}.mfp-plyr .player{left:0;max-width:900px;margin:0 auto;height:100%}.mfp-plyr .player1{left:0;max-width:900px;margin:0 auto;height:0}.mfp-image-holder .mfp-content,img.mfp-img{max-width:100%}.mfp-figure:after,img.mfp-img{width:auto;height:auto;display:block}img.mfp-img{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px 0;margin:0 auto}.mfp-figure:after{position:absolute;left:0;top:40px;bottom:40px;right:0;z-index:-1;box-shadow:0 0 8px rgba(0,0,0,.6);background:#444}.mfp-figure small{color:#BDBDBD;display:block;font-size:12px;line-height:14px}.mfp-figure figure{margin:0}.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}.mfp-title{text-align:left;line-height:18px;color:#F3F3F3;word-wrap:break-word;padding-right:36px}.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}.mfp-img-mobile img.mfp-img{padding:0}.mfp-img-mobile .mfp-figure:after{top:0;bottom:0}.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px}.mfp-img-mobile .mfp-bottom-bar{background:rgba(0,0,0,.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}.mfp-img-mobile .mfp-counter{right:5px;top:3px}.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0,0,0,.6);position:fixed;text-align:center;padding:0}}@media all and (max-width:900px){.mfp-arrow{-webkit-transform:scale(.75);transform:scale(.75)}.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0}.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%}.mfp-container{padding-left:6px;padding-right:6px}}.mfp-ie7 .mfp-img{padding:0}.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px}.mfp-ie7 .mfp-container{padding:0}.mfp-ie7 .mfp-content{padding-top:44px}.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0}.mfp-fade.mfp-bg.mfp-removing{opacity:0!important}.mfp-fade.mfp-wrap .mfp-content{opacity:0;-webkit-transition:all .15s ease-out;-moz-transition:all .15s ease-out;transition:all .15s ease-out}.mfp-fade.mfp-wrap.mfp-ready .mfp-content{opacity:1}.mfp-fade.mfp-wrap.mfp-removing .mfp-content{opacity:0!important}

.js-41-lightbox.mfp-bg{opacity:0;background:#fffff9;-webkit-transition:all 0.15s ease-out;-moz-transition:all 0.15s ease-out;transition:all 0.15s ease-out;}
.js-41-lightbox.mfp-bg.mfp-ready{opacity:0.8;filter:alpha(opacity=85);}
.js-42-lightbox.mfp-bg{opacity:0;background:#fffff9;-webkit-transition:all 0.15s ease-out;-moz-transition:all 0.15s ease-out;transition:all 0.15s ease-out;}
.js-42-lightbox.mfp-bg.mfp-ready{opacity:0.8;filter:alpha(opacity=85);}
.js-43-lightbox.mfp-bg{opacity:0;background:#fffff9;-webkit-transition:all 0.15s ease-out;-moz-transition:all 0.15s ease-out;transition:all 0.15s ease-out;}
.js-43-lightbox.mfp-bg.mfp-ready{opacity:0.8;filter:alpha(opacity=85);}
.js-9 .slider{height:582px;}
.js-9 .slick-prev, .js-9 .slick-next { height: 20px; width: 20px; margin-top: -10px; }
.js-9 .slick-prev:before, .js-9 .slick-next:before { font-size: 20px; color: rgb(64,64,64); opacity: 0.75; }
.js-9 .slick-prev { left: -41px; }
.js-9 .slick-next { right: -41px; }
.js-9 .slider-for { margin-bottom: 0px; }
.js-9 .slider-nav { margin-bottom: 0px; visibility: hidden; }
.js-9 .slider-nav img { border: solid 0px transparent; }
.js-9 .slider-nav .slick-center img { border-color: transparent; }
.js-9 .slick-dots { bottom: 0px; }
.js-9 .slick-dots li { height: 20px; width: 20px; margin: 0 5px; }
.js-9 .slick-dots li button { height: 20px; width: 20px; }
.js-9 .slick-dots li button:before { width: 20px; height: 20px; font-size: 6px; line-height: 20px; }
.js-9 .slick-dots li.slick-active button:before { color: rgb(64,64,64); opacity: 0.75; }
[dir="rtl"] .js-9 .slick-next {right: auto;left: -41px;}
[dir="rtl"] .js-9 .slick-prev {right: -41px;left: auto;}
.slider img { width: 100%; }

.pos-33{position:relative;margin-top:-169px;}
.pos-34{position:relative;margin-left:10px;margin-top:0;}
.size-34{min-width:755px;width:755px;min-height:521px;}
.size-35{min-width:450px;width:450px;min-height:521px;}
.cont-24{z-index:18;pointer-events:auto;}
.wrapper{font-size:15px;line-height:1.4;min-height:521px;}
.wrapper div, .wrapper p, .wrapper a{font-size:15px;line-height:1.4;}
.wrapper input{font-size:15px;line-height:1.4;margin:3px 2px 3px 2px;}
.pos-35{position:relative;margin-left:185px;margin-top:-251px;}
.size-36{min-width:570px;width:570px;min-height:216px;}
.pos-36{position:relative;margin-left:160px;margin-top:0;}
.size-37{min-width:250px;width:250px;min-height:75px;height:75px;}
.cont-25{z-index:11;pointer-events:auto;}
.img-17{position:absolute;left:87px;width:76px;height:75px;top:0;border:0;}
.img-18{left:87px;width:76px;height:75px;top:0;display:inline-block;}
.pos-37{position:relative;margin-left:0;margin-top:11px;}
.size-38{min-width:570px;width:570px;min-height:130px;}
.cont-26{z-index:17;pointer-events:auto;}
.font-10{font-family:Lato;font-size:45px;font-weight:300;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:65px;letter-spacing:normal;text-shadow:none;}
.font-11{font-family:Lato;font-size:45px;font-weight:400;font-style:normal;text-decoration:none;text-transform:none;color:rgb(0,0,0);background-color:initial;line-height:65px;letter-spacing:normal;text-shadow:none;}
@media (min-width:768px) and (max-width:959px) {
.size{min-width:768px;min-height:841px;}
.pos-2{margin-top:11px;}
.section{min-width:768px;width:768px;}
.pos-3{margin-left:87px;}
.size-2{min-width:592px;width:592px;min-height:35px;}
.cont-2{-webkit-border-radius:18px;-moz-border-radius:18px;border-radius:18px;}
.pos-4{margin-left:22px;margin-top:10px;}
.size-3{min-width:64px;width:64px;min-height:17px;}
.size-4{width:64px;height:16px;}
.font{font-size:11px;}
.pos-6{margin-top:103px;}
.size-5{min-width:774px;width:774px;min-height:577px;}
.pos-7{margin-top:187px;}
.size-6{min-width:390px;width:390px;min-height:390px;height:390px;}
.img{width:384px;height:384px;}
.img-2{width:384px;height:384px;}
.pos-8{margin-left:26px;margin-top:-577px;}
.size-7{min-width:718px;width:718px;min-height:385px;}
.size-8{min-width:718px;width:718px;min-height:310px;}
.font-2{font-size:44px;line-height:54px;}
.pos-10{margin-left:49px;margin-top:-233px;}
.size-9{min-width:624px;width:624px;min-height:308px;}
.size-10{min-width:624px;width:624px;min-height:140px;}
.font-3{font-size:20px;line-height:27px;}
.pos-11{margin-left:309px;margin-top:-30px;}
.size-11{min-width:198px;width:198px;min-height:198px;height:198px;}
.img-3{width:192px;height:192px;}
.img-4{width:192px;height:192px;}
.pos-12{margin-left:384px;margin-top:-390px;}
.size-12{min-width:390px;width:390px;min-height:390px;}
.pos-13{margin-left:192px;}
.size-13{min-width:198px;width:198px;min-height:198px;height:198px;}
.img-5{width:192px;height:192px;}
.img-6{width:192px;height:192px;}
.size-14{min-width:390px;width:390px;min-height:198px;height:198px;}
.img-7{width:384px;height:192px;}
.img-8{width:384px;height:192px;}
.pos-15{margin-top:-121px;}
.section-2{min-width:768px;width:768px;}
.size-15{min-width:774px;width:774px;min-height:390px;}
.size-16{min-width:390px;width:390px;min-height:390px;}
.size-17{min-width:390px;width:390px;min-height:198px;height:198px;}
.img-9{width:384px;height:192px;}
.img-10{width:384px;height:192px;}
.size-18{min-width:388px;width:388px;min-height:198px;}
.size-19{min-width:198px;width:198px;min-height:198px;height:198px;}
.img-11{width:192px;height:192px;}
.img-12{width:192px;height:192px;}
.pos-19{margin-left:192px;margin-top:-198px;}
.size-20{min-width:196px;width:196px;min-height:198px;height:198px;}
.img-13{width:190px;height:191px;top:0;}
.img-14{width:190px;height:191px;top:0;}
.pos-20{margin-left:384px;margin-top:-390px;}
.size-21{min-width:390px;width:390px;min-height:390px;height:390px;}
.img-15{width:384px;height:384px;}
.img-16{width:384px;height:384px;}
.pos-21{margin-top:48px;}
.size-22{min-width:768px;min-height:550px;}
.pos-22{margin-top:42px;}
.pos-23{margin-left:0;}
.size-23{min-width:746px;width:746px;min-height:466px;}
.pos-24{margin-top:22px;}
.size-24{min-width:390px;width:390px;min-height:345px;}
.pos-25{margin-left:0;}
.size-25{min-width:320px;width:320px;min-height:47px;}
.font-4{font-size:36px;line-height:44px;}
.pos-26{margin-left:0;}
.size-26{min-width:80px;width:80px;min-height:4px;height:4px;}
.pos-27{margin-left:6px;margin-top:7px;}
.size-27{min-width:320px;width:320px;min-height:82px;}
.font-5{font-size:28px;line-height:34px;}
.font-6{font-size:13px;line-height:16px;}
.pos-28{margin-left:8px;}
.size-28{min-width:382px;width:382px;min-height:114px;}
.font-7{font-size:11px;line-height:16px;}
.pos-29{margin-left:5px;margin-top:-33px;}
.size-29{min-width:134px;width:134px;min-height:46px;}
.size-30{width:128px;height:19px;}
.font-8{font-size:16px;padding-top:10px;padding-bottom:11px;}
.pos-30{margin-left:-136px;margin-top:39px;}
.size-31{min-width:251px;width:251px;min-height:48px;}
.font-9{font-size:34px;line-height:49px;}
.pos-31{margin-left:-254px;margin-top:87px;}
.pos-32{margin-left:16px;}
.size-32{min-width:340px;width:340px;min-height:466px;}
.size-33{height:466px;}
.js-9 .slider{height:466px;}
.pos-33{margin-top:-135px;}
.pos-34{margin-left:8px;}
.size-34{min-width:602px;width:602px;min-height:359px;}
.size-35{min-width:350px;width:350px;min-height:112px;}
.wrapper{min-height:112px;}
.pos-35{margin-left:146px;margin-top:74px;}
.size-36{min-width:456px;width:456px;min-height:173px;}
.pos-36{margin-left:128px;}
.size-37{min-width:200px;width:200px;min-height:60px;height:60px;}
.img-17{left:70px;width:61px;height:60px;}
.img-18{left:70px;width:61px;height:60px;}
.pos-37{margin-top:9px;}
.size-38{min-width:456px;width:456px;min-height:104px;}
.font-10{font-size:36px;line-height:52px;}
.font-11{font-size:36px;line-height:52px;}
}
@media (min-width:480px) and (max-width:767px) {
.size{min-width:480px;min-height:526px;}
.pos-2{margin-top:7px;}
.section{min-width:480px;width:480px;}
.pos-3{margin-left:54px;}
.size-2{min-width:370px;width:370px;min-height:22px;}
.cont-2{-webkit-border-radius:11px;-moz-border-radius:11px;border-radius:11px;}
.pos-4{margin-left:14px;margin-top:6px;}
.size-3{min-width:40px;width:40px;min-height:11px;}
.size-4{width:40px;height:9px;}
.font{font-size:6px;padding-top:1px;}
.pos-6{margin-top:64px;}
.size-5{min-width:486px;width:486px;min-height:362px;}
.pos-7{margin-top:116px;}
.size-6{min-width:246px;width:246px;min-height:246px;height:246px;}
.img{width:240px;height:240px;}
.img-2{width:240px;height:240px;}
.pos-8{margin-left:17px;margin-top:-362px;}
.size-7{min-width:449px;width:449px;min-height:242px;}
.size-8{min-width:449px;width:449px;min-height:194px;}
.font-2{font-size:27px;line-height:33px;}
.pos-10{margin-left:31px;margin-top:-146px;}
.size-9{min-width:390px;width:390px;min-height:194px;}
.size-10{min-width:390px;width:390px;min-height:88px;}
.font-3{font-size:12px;line-height:16px;}
.pos-11{margin-left:192px;margin-top:-20px;}
.size-11{min-width:126px;width:126px;min-height:126px;height:126px;}
.img-3{width:120px;height:120px;}
.img-4{width:120px;height:120px;}
.pos-12{margin-left:240px;margin-top:-246px;}
.size-12{min-width:246px;width:246px;min-height:246px;}
.pos-13{margin-left:120px;}
.size-13{min-width:126px;width:126px;min-height:126px;height:126px;}
.img-5{width:120px;height:120px;}
.img-6{width:120px;height:120px;}
.size-14{min-width:246px;width:246px;min-height:126px;height:126px;}
.img-7{width:240px;height:120px;}
.img-8{width:240px;height:120px;}
.pos-15{margin-top:-77px;}
.section-2{min-width:480px;width:480px;}
.size-15{min-width:486px;width:486px;min-height:246px;}
.size-16{min-width:246px;width:246px;min-height:246px;}
.size-17{min-width:246px;width:246px;min-height:126px;height:126px;}
.img-9{width:240px;height:120px;}
.img-10{width:240px;height:120px;}
.size-18{min-width:245px;width:245px;min-height:126px;}
.size-19{min-width:126px;width:126px;min-height:126px;height:126px;}
.img-11{width:120px;height:120px;}
.img-12{width:120px;height:120px;}
.pos-19{margin-left:120px;margin-top:-126px;}
.size-20{min-width:125px;width:125px;min-height:126px;height:126px;}
.img-13{width:119px;height:120px;top:0;}
.img-14{width:119px;height:120px;top:0;}
.pos-20{margin-left:240px;margin-top:-246px;}
.size-21{min-width:246px;width:246px;min-height:246px;height:246px;}
.img-15{width:240px;height:240px;}
.img-16{width:240px;height:240px;}
.pos-21{margin-top:29px;}
.size-22{min-width:480px;min-height:344px;}
.pos-22{margin-top:26px;}
.pos-23{margin-left:2px;}
.size-23{min-width:464px;width:464px;min-height:291px;}
.pos-24{margin-top:17px;}
.size-24{min-width:242px;width:242px;min-height:211px;}
.pos-25{margin-left:0;}
.size-25{min-width:200px;width:200px;min-height:29px;}
.font-4{font-size:22px;line-height:27px;}
.pos-26{margin-left:1px;margin-top:-4px;}
.size-26{min-width:50px;width:50px;min-height:3px;height:3px;}
.pos-27{margin-left:2px;}
.size-27{min-width:200px;width:200px;min-height:51px;}
.font-5{font-size:17px;line-height:21px;}
.font-6{font-size:8px;line-height:10px;}
.pos-28{margin-top:-5px;}
.size-28{min-width:239px;width:239px;min-height:35px;}
.font-7{font-size:6px;line-height:8px;}
.pos-29{margin-left:2px;margin-top:15px;}
.size-29{min-width:86px;width:86px;min-height:31px;}
.size-30{width:80px;height:12px;}
.font-8{font-size:10px;padding-top:6px;padding-bottom:7px;}
.pos-30{margin-left:0;margin-top:11px;}
.size-31{min-width:157px;width:157px;min-height:30px;}
.font-9{font-size:21px;line-height:30px;}
.pos-31{margin-left:-156px;margin-top:43px;}
.pos-32{margin-left:10px;}
.size-32{min-width:212px;width:212px;min-height:291px;}
.size-33{height:291px;}
.js-9 .slider{height:291px;}
.pos-33{margin-top:-80px;}
.pos-34{margin-left:0;}
.size-34{min-width:381px;width:381px;min-height:220px;}
.size-35{min-width:219px;width:219px;min-height:70px;}
.wrapper{min-height:70px;}
.pos-35{margin-left:96px;margin-top:41px;}
.size-36{min-width:285px;width:285px;min-height:109px;}
.pos-36{margin-left:80px;}
.size-37{min-width:125px;width:125px;min-height:38px;height:38px;}
.img-17{left:43px;width:39px;height:38px;}
.img-18{left:43px;width:39px;height:38px;}
.pos-37{margin-top:6px;}
.size-38{min-width:285px;width:285px;min-height:65px;}
.font-10{font-size:22px;line-height:32px;}
.font-11{font-size:22px;line-height:32px;}
}
@media (max-width:479px) {
.size{min-width:320px;min-height:351px;}
.pos-2{margin-top:5px;}
.section{min-width:320px;width:320px;}
.pos-3{margin-left:36px;}
.size-2{min-width:247px;width:247px;min-height:14px;}
.cont-2{-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;}
.pos-4{margin-left:9px;margin-top:4px;}
.size-3{min-width:27px;width:27px;min-height:7px;}
.size-4{width:27px;height:6px;}
.font{font-size:4px;}
.pos-6{margin-left:9px;margin-top:43px;}
.size-5{min-width:300px;width:300px;min-height:232px;}
.pos-7{margin-left:26px;margin-top:103px;}
.size-6{min-width:128px;width:128px;min-height:129px;height:129px;}
.img{width:122px;height:123px;}
.img-2{width:122px;height:123px;}
.pos-8{margin-left:0;margin-top:-232px;}
.size-7{min-width:300px;width:300px;min-height:170px;}
.size-8{min-width:300px;width:300px;min-height:129px;}
.font-2{font-size:18px;line-height:22px;}
.pos-10{margin-left:21px;margin-top:-97px;}
.size-9{min-width:260px;width:260px;min-height:138px;}
.size-10{min-width:260px;width:260px;min-height:59px;}
.font-3{font-size:8px;line-height:11px;}
.pos-11{margin-left:127px;margin-top:12px;}
.size-11{min-width:68px;width:68px;min-height:67px;height:67px;}
.img-3{width:62px;height:61px;}
.img-4{width:62px;height:61px;}
.pos-12{margin-left:148px;margin-top:-129px;}
.size-12{min-width:129px;width:129px;min-height:129px;}
.pos-13{margin-left:62px;}
.size-13{min-width:67px;width:67px;min-height:67px;height:67px;}
.img-5{width:61px;height:61px;}
.img-6{width:61px;height:61px;}
.size-14{min-width:129px;width:129px;min-height:68px;height:68px;}
.img-7{width:123px;height:62px;}
.img-8{width:123px;height:62px;}
.pos-15{margin-top:-63px;}
.section-2{min-width:320px;width:320px;}
.pos-16{margin-left:33px;}
.size-15{min-width:253px;width:253px;min-height:128px;}
.size-16{min-width:130px;width:130px;min-height:128px;}
.pos-17{margin-left:2px;}
.size-17{min-width:128px;width:128px;min-height:67px;height:67px;}
.img-9{width:122px;height:61px;}
.img-10{width:122px;height:61px;}
.size-18{min-width:130px;width:130px;min-height:67px;}
.pos-18{margin-top:4px;}
.size-19{min-width:67px;width:67px;min-height:63px;height:63px;}
.img-11{left:2px;width:58px;height:57px;}
.img-12{left:2px;width:58px;height:57px;}
.pos-19{margin-left:63px;margin-top:-67px;}
.size-20{min-width:67px;width:67px;min-height:67px;height:67px;}
.img-13{width:61px;height:61px;top:0;}
.img-14{width:61px;height:61px;top:0;}
.pos-20{margin-left:124px;margin-top:-128px;}
.size-21{min-width:129px;width:129px;min-height:128px;height:128px;}
.img-15{width:123px;height:122px;}
.img-16{width:123px;height:122px;}
.pos-21{margin-top:67px;}
.size-22{min-width:320px;min-height:229px;}
.pos-22{margin-top:7px;}
.pos-23{margin-left:3px;}
.size-23{min-width:308px;width:308px;min-height:204px;}
.pos-24{margin-top:0;}
.size-24{min-width:160px;width:160px;min-height:163px;}
.pos-25{margin-left:2px;}
.size-25{min-width:133px;width:133px;min-height:23px;}
.font-4{font-size:19px;line-height:23px;}
.pos-26{margin-left:4px;}
.size-26{min-width:33px;width:33px;min-height:2px;height:2px;}
.pos-27{margin-left:2px;margin-top:3px;}
.size-27{min-width:133px;width:133px;min-height:34px;}
.font-5{font-size:11px;line-height:13px;}
.font-6{font-size:5px;line-height:6px;}
.pos-28{margin-left:0;margin-top:-8px;}
.size-28{min-width:160px;width:160px;min-height:49px;}
.font-7{font-size:7px;line-height:10px;}
.pos-29{margin-left:1px;margin-top:6px;}
.size-29{min-width:60px;width:60px;min-height:22px;}
.size-30{width:54px;height:7px;}
.font-8{font-size:6px;padding-top:4px;padding-bottom:5px;}
.pos-30{margin-left:2px;margin-top:3px;}
.size-31{min-width:158px;width:158px;min-height:27px;}
.font-9{font-size:19px;line-height:28px;letter-spacing:1.60px;}
.pos-31{margin-left:2px;margin-top:0;}
.pos-32{margin-left:6px;margin-top:10px;}
.size-32{min-width:142px;width:142px;min-height:194px;}
.size-33{height:194px;}
.js-9 .slider{height:194px;}
.pos-33{margin-top:-58px;}
.pos-34{margin-left:7px;}
.size-34{min-width:247px;width:247px;min-height:151px;}
.size-35{min-width:146px;width:146px;min-height:46px;}
.wrapper{min-height:46px;}
.pos-35{margin-left:57px;margin-top:33px;}
.size-36{min-width:190px;width:190px;min-height:72px;}
.pos-36{margin-left:53px;}
.size-37{min-width:84px;width:84px;min-height:25px;height:25px;}
.img-17{left:29px;width:26px;height:25px;}
.img-18{left:29px;width:26px;height:25px;}
.pos-37{margin-top:4px;}
.size-38{min-width:190px;width:190px;min-height:43px;}
.font-10{font-size:14px;line-height:21px;}
.font-11{font-size:14px;line-height:21px;}
}
@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
.fixed{background-image:url(../images/img_4373-640.jpeg);background-attachment:fixed;}
}
@media (-webkit-min-device-pixel-ratio:3), (min-resolution:288dpi) {
.fixed{background-image:url(../images/img_4373-960.jpeg);background-attachment:fixed;}
}
@media (min-width:768px) and (max-width:959px) and (-webkit-min-device-pixel-ratio:2), (min-width:768px) and (max-width:959px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/img_4373-640.jpeg);background-attachment:fixed;}
}
@media (min-width:768px) and (max-width:959px) and (-webkit-min-device-pixel-ratio:3), (min-width:768px) and (max-width:959px) and (min-resolution:288dpi) {
.fixed{background-image:url(../images/img_4373-960.jpeg);background-attachment:fixed;}
}
@media (min-width:480px) and (max-width:767px) and (-webkit-min-device-pixel-ratio:2), (min-width:480px) and (max-width:767px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/img_4373-640.jpeg);background-attachment:fixed;}
}
@media (min-width:480px) and (max-width:767px) and (-webkit-min-device-pixel-ratio:3), (min-width:480px) and (max-width:767px) and (min-resolution:288dpi) {
.fixed{background-image:url(../images/img_4373-960.jpeg);background-attachment:fixed;}
}
@media (max-width:479px) and (-webkit-min-device-pixel-ratio:2), (max-width:479px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/img_4373-640.jpeg);background-attachment:fixed;}
}
@media (max-width:479px) and (-webkit-min-device-pixel-ratio:3), (max-width:479px) and (min-resolution:288dpi) {
.fixed{background-image:url(../images/img_4373-960.jpeg);background-attachment:fixed;}
}
@media (min-width:320px) {
.fixed{background-image:url(../images/img_4373-480.jpeg);background-attachment:fixed;}
}
@media (min-width:320px) and (-webkit-min-device-pixel-ratio:2),(min-width:320px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/img_4373-960-1.jpeg);background-attachment:fixed;}
}
@media (min-width:480px) {
.fixed{background-image:url(../images/img_4373-768.jpeg);background-attachment:fixed;}
}
@media (min-width:480px) and (-webkit-min-device-pixel-ratio:2),(min-width:480px) and (min-resolution:192dpi) {
.fixed{background-image:url(../images/img_4373-1536.jpeg);background-attachment:fixed;}
}
@media (min-width:768px) {
.fixed{background-image:url(../images/img_4373-960-2.jpeg);background-attachment:fixed;}
}
@media (min-width:960px) {
.fixed{background-image:url(../images/img_4373-1200.jpeg);background-attachment:fixed;}
}
@media (min-width:1200px) {
.fixed{background-image:url(../images/img_4373-1600.jpeg);background-attachment:fixed;}
}
@media (min-width:1600px) {
.fixed{background-image:url(../images/img_4373-2000.jpeg);background-attachment:fixed;}
}
