.vis{*display:inline;zoom:1;}
.vis-2{*display:block;zoom:1;}
.vis-3{*display:inline;zoom:1;}
.vis-4{*display:inline-block;zoom:1;}
.vis-5{*display:none;zoom:1;}
.vis-7{*display:inline-block;zoom:1;}
.vis-8{*display:none;zoom:1;}
.vis-9{*display:inline-block;zoom:1;}
.vis-10{*display:none;zoom:1;}
.vis-11{*display:inline-block;zoom:1;}
.vis-12{*display:none;zoom:1;}
